<div class="login-container">
  <div class="login-card">
    <h1 class="login-title">Liste des Rendez-vous</h1>
  
    <!-- Filtre de recherche -->
    <div class="search-container">
      <input
        type="date"
        [(ngModel)]="searchQuery"
        class="form-input"
        placeholder="Rechercher par date">
        
      <button class="login-button" (click)="applyFilter()">Rechercher</button>
    </div>   
    
    <!-- Liste des rendez-vous -->
    <h2 class="section-title">Tous vos rendez-vous</h2>
    
    <div class="pagination-controls">
      <button (click)="previousPage()" [disabled]="currentPage === 1" class="pagination-button">Précédent</button>
      <span class="pagination-info">Page {{currentPage}} / {{totalPages}}</span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="pagination-button">Suivant</button>
    </div>
    
    <div class="event-list">
      <div *ngFor="let rdv of paginatedRendezvous(); let i = index" class="event-item">
        <div class="event-img">
          <img src="{{rdv.clientimage}}" alt="{{rdv.clientnom}}"> 
        </div>
        <div class="event-info">
          
          <h3>Rendez-vous #{{ (currentPage - 1) * itemsPerPage + i + 1 }}</h3>
          <p><strong>Nom du client:</strong> {{ rdv.clientnom }}</p>
          <p><strong>Date/Heure:</strong> {{ rdv.dateheure | date:'medium' }}</p>
          <p><strong>Description:</strong> {{ rdv.description }}</p>
          <p><strong>Statut:</strong> 
            <span [ngClass]="'status-' + rdv.statut.toLowerCase()">
              {{ rdv.statut }}
            </span>
          </p>
        </div>
        <div class="event-actions">
          <button class="btn-validate" 
                  (click)="validRendezvous(rdv)" 
                  [disabled]="rdv.statut === 'annule' || rdv.statut === 'valide' || rdv.statut === 'refuse'">
            Valider
          </button>
          <button class="btn-refuse" 
                  (click)="refusRendezvous(rdv)" 
                  [disabled]="rdv.statut === 'annule' || rdv.statut === 'valide' || rdv.statut === 'refuse'">
            Refuser
          </button>
          <button class="btn-cancel" 
                  (click)="cancelRendezvous(rdv)"
                  [disabled]="rdv.statut === 'annule'">
            Annuler
          </button>
        </div>
      </div>
      
      <div *ngIf="paginatedRendezvous().length === 0" class="no-events">
        Aucun rendez-vous disponible
      </div>
    </div>
  </div>
</div>