<div class="form-container">
  <h2>Modifier le profil</h2>
  
  <form (ngSubmit)="updateClient()" enctype="multipart/form-data" class="styled-form">
    <div class="form-group">
      <label for="nom">Nom du client</label>
      <input type="text" id="nom" [(ngModel)]="client.nom" name="nom" required class="form-input">
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="datenaissance">Date de naissance</label>
        <input type="date" id="datenaissance" [(ngModel)]="client.datenaissance" name="datenaissance" required class="form-input">
      </div>
    </div>

    <div class="form-group">
      <label for="contact">Contact</label>
      <input type="text" id="contact" [(ngModel)]="client.contact" name="contact" required class="form-input">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" [(ngModel)]="client.email" name="email" required class="form-input">
    </div>

    <div class="form-group">
      <label for="motdepasse">Mot de passe</label>
      <input type="password" id="motdepasse" [(ngModel)]="client.motdepasse" name="motdepasse" required class="form-input">
    </div>

    <div class="form-group">
      <label for="image">Image (Laisser vide pour conserver l'actuelle)</label>
      <input type="file" id="image" (change)="onFileSelected($event)" name="image" class="form-input-file">
      <div *ngIf="client.imageUrl" class="current-image">
        <span>Image actuelle : </span>
        <img [src]="client.imageUrl" alt="Image actuelle" class="current-image-preview">
      </div>
    </div>
    
    <div class="form-actions">
      <button type="submit" class="btn-primary">Mettre à jour</button>
      <button type="button" (click)="cancelEdit()" class="btn-secondary">Annuler</button>
    </div>
  </form>
</div>